@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-4">C# Login Register Test</h1>
</div>

<div class="row">
    <div class="col">
        <partial name="RegisterPartial"/>
    </div>
    <div class="col">
        <partial name="LoginPartial"/>
    </div>
</div>